
{% extends 'base.html.twig'%}

{% block title %}Hello ClasseController!{% endblock %}

{% block body %}
<body class="body">
<div class="card ml-5">
    <div class="card-body">
        <h4 class="card-title">Liste des Demande</h4>
        <p class="card-text">
        <table class="table table-striped table-hover">
            <thead class="table table-dark">
                <tr class="table-active">
                <th scope="col">Libelle</th>
                <th scope="col">Etat</th>
                <th scope="col">Etudiant id</th>
                <th scope="col"></th>
                <th scope="col"></th>

                </tr>
 
            </thead>
            <tbody>
       {% for demandes in demande %}
             <tr>
             <td>{{demandes.libelleDemande}}</td>
             <td>{{demandes.etat}}</td>
             <td>{{demandes.etudiant.getNomComplet()}}</td>
             <td> <button type='button' class='btn btn-outline-danger'>supprimer</button> &nbsp <button type='button' class='btn btn-outline-success'>editer</button> <td>

            </tr>
{% endfor %}
               
            </tbody>
        </table>
        </p>
             <div class="d-flex" justify-content-center style="margin-left:50rem" >
        {%  do demande.setPageRange(10) %}
               {{ knp_pagination_render(demande,'pagination.html.twig') }}
        </div>
    </div>
</div>
</div>
</body>       

{% endblock %}


