/* .container-fluid py-1 px-3{
    display: flex;

    color: white;
    background-color:  linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
} */
/* body{
    background-image:url('2187.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.body{
    background: none;
} */